player-connection-mode=Listen
player-connection-guid=2860912499
player-connection-debug=0
player-connection-project-name=dogs
player-connection-ip=192.168.219.104
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fc283aa6eef44cc5979937797a2c85a6
